@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https //fonts.googleapis.com/css2 family=righteous &display=swap');


*{
    padding: 0;
    margin: 0;
    
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    font-size:large;
    background-image: url(istockphoto-1364143636-612x612\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
    overflow-x: hidden;
}

form{
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
    font-family: 'Righteous',sans-serif;
    color: #7C455C;
    margin-bottom: 10px;
    font-weight: bold;
    

}

 
input {
    text-align: center;
    border-radius: 7px;
    height: 20px;
    
    /* font-size: large; */
}


h1{
    text-align: left;
    font-size: 60px;
    font-family: 'Sarala';
    margin-top: 5px;
    margin-left: 80px;
    color: white;

}
header{
        
    width: 100%;
}

.para{
    color: #7C455C;
    font-weight: bold;
}

.botao2{
    background-color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
.botao2:hover{
    transition: .3s;
    background-color: #DA9A90;
}
.cabecalho{
    display: flex;
    flex-direction:row;
    
    background-color: #7C455C;
    /* border: 1px solid red; */
    
}
.cabecalho-image{
    height: 100px;
    margin-right: 195px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 90px;
    
   
}
   
.cabecalho-menu{
    display: flex;
    flex-direction: row;
    margin-left: 285px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
   

}

.cabecalho-menu-item{
   
    margin-top: 30px;
    font-family: 'Sarala', sans-serif;
    
    font-weight:bold;
    font-size: 18px;
    margin-right: 100px;
    
    
    
}

.botao{
    font-size: 25px;
    font-family: 'Righteous';
    width: 100px;
    height: 50px;
    margin-top: 8px;
    margin-left: 8px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}


/*                                                           FOOTER                                                                     */

/* Footer */
.rodape {
    background-color: #a13c66;
    color: white;
    text-align: center;
    font-family: 'Sarala';
    font-size: 15px;
    height: 20px;
    padding: 10px;
    width: 100%;
    margin-top: 0;
    
}

.rodape-principal {
    background-color: #7C455C;
    height: 215px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 350px;
}

.rodape-principal a:hover {
    color: #5899f4;
}

.rodape-principal div {
    margin-top: 30px;
    padding-right: 30px;
}

.titulo-rodape {
    font-family: 'Sarala';
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.texto-rodape {
    font-family: 'Sarala';
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    margin-top: 10px;
}

.texto-rodape a {
    text-decoration: none;
    color: inherit;
    line-height: 1.;
}

.redes-sociais {
    display: flex;
}

.redes-sociais img {
    margin-right: 20px;
    border-radius: 20%;
}

.input1 {
    display: flex;
    flex-direction: column;
}

.input1 input {
    margin-top: 15px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #ffffff;
    font-family: 'Sarala';
}

.button:hover {
    background-color: #5899f4;
    border-style: none;
}

.case{
    display: flex;
    flex-direction: row;
    height: 20px;
    gap: 6px;
   color: #ffff;
    
    
    
}
.envia{
    background-color:  #DA9A90;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px; 
}
.envia:hover{
    background-color:#7C455C;
}

.form1{

    
    font-size: medium;
    height: 20px;
    margin-bottom: 400px;
    
}


