body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    font-size:large;
    background-image: url(istockphoto-1364143636-612x612\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
    overflow-x: hidden;
}
  
  h1{
    margin-top: 80px;
    font-family: 'Righteous';
    font-size: xx-large;
    color: #7C455C;
    text-align: center;
    text-decoration: underline;
  }
  
  h2{
    font-family: 'Righteous';
    font-size: xx-large;
    color: #7C455C;
    text-align: center;
  }
  
  p{
    font-family: 'Sarala';
    font-size: x-large;
    text-align: center;
    color: #7C455C;
  }

.image{

    display: flex;
    justify-content: center;
}

.img{
    border-radius: 10px;
    
    width: 200px;
    height: 200px;
}


  /*                                                        AVALIACAO                                               */


  .avaliacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   }

 .avali{
    border-radius: 10px;
    margin-left: 610px;
    width: 200px;
    background-color: #de8eaf;
    color: #7C455C;
    font-weight: bold;
    font-size: xx-large;
    font-family: "Sarala",sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    
 }    
 
  .star-icon{
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: #7C455C;
    list-style-type: none;
    border: 0px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 90px;/* alterar o tamanho das estrelas */
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }




/*                                                           FOOTER                                                                     */

/* Footer */
.rodape {
    background-color: #a13c66;
    color: white;
    text-align: center;
    font-family: poppins;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 0;
    
}

.rodape-principal {
    background-color: #7C455C;
    height: 255px;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 350px;
    margin-bottom: auto;
    border: 1px solid red;
}

.rodape-principal a:hover {
    color: #5899f4;
}

.rodape-principal div {
    margin-top: 30px;
    padding-right: 30px;
}

.titulo-rodape {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.texto-rodape {
    font-family: 'Inter';
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    margin-top: 10px;
}

.texto-rodape a {
    text-decoration: none;
    color: inherit;
    line-height: 1.;
}

.redes-sociais {
    display: flex;
}

.redes-sociais img {
    margin-right: 20px;
    border-radius: 20%;
}

.input1 {
    display: flex;
    flex-direction: column;
}

.input1 input {
    margin-top: 15px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #ffffff;
    font-family: 'Inter';
}




  .case{
    display: flex;
    height: 20px;
    gap: 6px;
   color: #ffff;
    
    
    
}
.envia{
    background-color:  #DA9A90;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 240px;
    margin-top: 20px; 
}
.envia:hover{
    background-color:#7C455C;
}
